@*@model ProgramGuideVM[]*@
@model ProgramChannelVM
@using MediaCenter

<header>
<style>

		.icon{
		background-color:transparent;
		height:40px;
		width: 40px;
		background-position:center;
		border:none;
		cursor:pointer;
		background-size: 100%;
		}
		.button {
		background-color: #4CAF50; /* Green */
		border: 1px solid green;
		color: white;
		/*padding: 15px 32px;*/
		text-align: Left;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		cursor: pointer;
		float: left;
		height: 50px;
	}

		.button:hover {
			background-color: #3e8e41;
		}

		section {
		  float: left;
		  margin: 0 1.5%;
		  width: 100px;
		  position: absolute;
		  overflow: auto
		}
		aside {
		  float: right;
		  margin: 0 1.5%;
		  width: 90%;
		}


</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
		$(window).scroll(function () {
			$('#channels').css('left', -$(window).scrollLeft());
		});

	</script>
</header>



	<aside>

		@*@foreach (var item in Model.Programs)
		{
			@(item.Start + "  " + item.Id + "  " + item.OrderNo + "  " + item.Title + "  " + item.Channel + "  " + item.Description);
			<br />
		}*@


		@{ int timeScale = 10; }
		@{ DateTime timeNow = DateTime.Now;}
		<table>
			<tr>
				@for (int i = 0; i < 100; i++)
				{
					if (i == 0)
					{
						<td><button class="button" style="width: @Math.Round(timeScale * (timeNow.Date.AddHours(timeNow.Hour + (i + 1)) - timeNow).TotalMinutes)px">@timeNow.Date.AddHours(timeNow.Hour + i).ToString("HH:mm")</button></td>
					}
					else
					{
						<td><button class="button" style="width: @(timeScale * (timeNow.Date.AddHours(timeNow.Hour + (i + 1)) - timeNow.Date.AddHours(timeNow.Hour + i)).TotalMinutes)px">@timeNow.Date.AddHours(timeNow.Hour + i).ToString("HH:mm")</button></td>
					}
				}
				
			</tr>
		</table>

		@for (int i = 0; i < Model.Programs[Model.Programs.Length - 1].OrderNo; i++)
		{
			<table>
				<tr>
					@for (int j = 0; j < Model.Programs.Length; j++)
					{
						@if (Model.TvChannels[i].OrderNo == Model.Programs[j].OrderNo)
						{
							@if (j == 0 || Model.Programs[j - 1].OrderNo != Model.Programs[j].OrderNo)
							{
								@if (Model.Programs[j].Start < DateTime.Now && Model.Programs[j].Stop > DateTime.Now)
								{
									<td><button class="button" style="width: @Math.Round(timeScale * Model.Programs[j].Stop.Subtract(DateTime.Now).TotalMinutes)px">@Model.Programs[j].Start.ToString("HH:mm")-@Model.Programs[j].Stop.ToString("HH:mm") @Model.Programs[j].Title</button></td>
								}
								else
								{
									<td><div style="width: @Math.Round(timeScale * Model.Programs[j].Stop.Subtract(DateTime.Now).TotalMinutes)px"></div></td>
								}
							}
							else
							{
								@if (Model.Programs[j - 1].Stop == Model.Programs[j].Start)
								{
									<td><button class="button" style="width: @(timeScale * Model.Programs[j].Stop.Subtract(Model.Programs[j].Start).TotalMinutes)px">@Model.Programs[j].Start.ToString("HH:mm")-@Model.Programs[j].Stop.ToString("HH:mm") @Model.Programs[j].Title</button></td>		                            
								}
								else
								{ 
									<td><div style="width: @Math.Round(timeScale * Model.Programs[j].Start.Subtract(Model.Programs[j - 1].Stop).TotalMinutes)px">&nbsp</div></td>
								}

							}


						}
					}
				</tr>
			</table>
		}
</aside>

<section>
	<div id="channels">
		@Html.Partial("~/Views/Record/ChannelVM.cshtml", Model)
	</div>
</section>



	<footer>

	</footer>


